<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>

</head>
<body>

<div class="container">

  <h1>Add Product to Sale</h1>
  <form id="add_product" action="/admin/add_product_in_sale" method="post">
    <label for="saleId">Sale ID:</label>
    <input type="number" id="saleId" name="saleId"><br>
    <br>
    <label for="productId">Product ID:</label>
    <input type="number" id="productId" name="productId"><br>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>
</body>
</html>