<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

</head>
<body>

<div class="container">
    <h1>Modify Product:</h1>
    <form id="fileUploadForm" action="/admin/modifyProduct" method="post" enctype="multipart/form-data">
        <label for="id">Product ID:</label>
        <input type="number" id="id" name="id"><br><br>

        <label for="title">Product Name:</label>
        <input type="text" id="title" name="title"><br><br>

        <label for="description">Product Description:</label>
        <input type="text" id="description" name="description"><br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price"><br><br>

        <label for="availableQuantity">Quantity:</label>
        <input type="number" id="availableQuantity" name="availableQuantity"><br><br>

        <input type="file" name="image"/>

        <button type="submit">Modify</button>
    </form>
    <br>
    <div th:if="${param.success}">
        <div>Product Modified.</div>
    </div>
    <div th:if="${param.fail}">
        <div>Error!</div>
    </div>
</div>
</body>
</html>